<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4">
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <div class="card">
      <h5 class="card-header">About Task.async</h5>
      <div class="card-body">
        <p class="card-text">Task.async is opensource so if you want to see a new feature added feel free to get involved <a href="https://github.com/taskasync/taskasync.com">Here</a></p>
      </div>
    </div>
  </div>
</div>
